<div ng-repeat="block in content" id="block-5965cf249ed5db41ed4f52c0" ng-init="ckeckLast($last)" class="row shadow-10 bs-content ng-scope">
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div id="#content0" name="content" ng-bind-html=" deliberatelyTrustDangerousSnippet(block.content) " class="ng-binding">
<p><strong>Downloads</strong></p>
<p>AMiner papers:</p>
<table border="1" cellpadding="1" cellspacing="1">
<tbody>
<tr>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>MAG papers:</p>
<table border="1" cellpadding="1" cellspacing="1">
<tbody>
<tr>
<td><a href="https://academicgraphv1wu.blob.core.windows.net/aminer/mag_papers_4.zip">mag_papers_4.zip</a></td>
<td><a href="https://academicgraphv1wu.blob.core.windows.net/aminer/mag_papers_5.zip">mag_papers_5.zip</a></td>
</tr>
<tr>
<td><a href="https://academicgraphv1wu.blob.core.windows.net/aminer/mag_papers_6.zip">mag_papers_6.zip</a></td>
<td><a href="https://academicgraphv1wu.blob.core.windows.net/aminer/mag_papers_7.zip">mag_papers_7.zip</a></td>
<td><a href="https://academicgraphv1wu.blob.core.windows.net/aminer/mag_papers_8.zip">mag_papers_8.zip</a></td>
</tr>
</tbody>
</table>
<div>&nbsp;</div>
</div>
</article>
</div>
<div ng-repeat="block in content" id="block-5965cf419ed5db41ed4f5306" ng-init="ckeckLast($last)" class="row shadow-10 bs-content ng-scope">
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<h1 name="sub_title" ng-bind-html=" deliberatelyTrustDangerousSnippet(block.title) " class="ng-binding">Data description</h1>
</article>
</div>
